.fixed-header-image {
  height: 1200px;
  height: 100vh;
  max-height: 100%;
  overflow: hidden;
  
  img {
    position: fixed;
    height: auto;
    top: 50%;
    left: 50%;
    max-width: 1000%;
    min-height: 100%;
    min-width: 100%;
    min-width: 100vw;
    width: auto;
    padding-bottom: 1px;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
}

.site-branding {
  position: absolute;
  top:10%;
  right: 10%;
  display: block;
  background: rgba(255, 255, 255, 0.5);
  padding: 1rem;
  border-radius: 1rem;
  height: auto;
  padding-top: 0;
  max-width: 100%;
}
  
